@page "/fetchdata"
<AuthorizeView>
    <Authorized>
        <PageTitle>Weather forecast for @(auth.m_login)</PageTitle>

        @using AspNetCoreAuthMultiLang.Data
        @inject WeatherForecastService ForecastService

        <h1>Weather forecast</h1>

        <p>This component demonstrates fetching data from a service.</p>

        @if (forecasts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in forecasts)
                    {
                        <tr>
                            <td>@forecast.Date.ToShortDateString()</td>
                            <td>@forecast.TemperatureC</td>
                            <td>@forecast.TemperatureF</td>
                            <td>@forecast.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] AuthenticationStateProvider i_authenticationStateProvider { get; set; }
    myServerAuthenticationStateProvider auth;
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        auth = (myServerAuthenticationStateProvider)i_authenticationStateProvider;
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
